.title {
  text-align: center;
  font-size: 5.5em;
  font-family: Amatic SC;
  font-weight: bold;
  display:block;
  margin: auto;
  background: #e74c3c;
  color:#fff;
  border: dashed;
  margin-bottom: 15px;
  padding-right: 0px;
}

.homepageButtons {
  width: 100%;
  border-radius: 47px;
  height: 90px;
  background-color: white;
  color: grey;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  margin-bottom: 5px;
  margin-top: 1em;
  border: solid 1px;
}

.whoWeAreButton {
  border-color: blue;
}

.performancesButton {
  border-color: green;
}

.eventsButton {
  border-color: #FFDE56;
}

.contactButton {
  border-color: purple;
}