.performanceTitle {
  text-align: center;
  font-size: 4.5em;
  padding-top: 10px;
  font-family: Amatic SC;
  background: green;
  border: dashed;
  color:#fff;
  font-weight: bold;
  display:block;
  margin: auto;
  margin-bottom: 20px;
}

.tokoiHotel {
  max-width: 85%;
  margin-bottom: 10px;
  border-radius: 15px;
}

.backArrowPerf {
  max-width: 15%;
  margin-top: 2px;
}

.mathRow {
  margin-top: 15px;
  font-family: "Amatic SC";
}

.sebRow {
  margin-top: 15px;
  font-family: "Amatic SC";
}

.eventTeasing {
  font-weight: bold;
  font-family: "Amatic SC";
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  line-height: 0.5;
}

.transformation {
  margin-bottom: 30px;
}