.whoWeAreTitle {
  text-align: center;
  font-size: 4.5em;
  padding-top: 10px;
  font-family: Amatic SC;
  background: blue;
  border: dashed;
  color:#fff;
  font-weight: bold;
  display:block;
  margin: auto;
}

.presentationOfMathAndSeb {
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: 19px;
  margin-top: 20px;
  padding-left: 5px;
  background: #F4F2F5;
  border-radius: 10px;
}

.mathAndSebPicture {
  max-width: 100%;
  border-radius: 20px;
  margin-top: 20px;
}

.backArrow {
  max-width: 15%;
  margin-top: 100px;
}

.backButton {
  background: none;
  border: none;
  overflow: none;
}